# Python / venv
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Jupyter
.ipynb_checkpoints/
*.ipynb_convert/
*.nbconvert.ipynb

# Editors/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project.sublime-workspace

# SO
.DS_Store
Thumbs.db

# Datos locales opcionales
.env
*.log

# Dropbox metadatos (por si acaso)
.dropbox.attr
EOF



# 0.6 (Opcional) Normalizar fin de línea y tratar notebooks como binario
cat > .gitattributes << 'EOF'
* text=auto eol=lf
*.ipynb -diff